<a href="https://colab.research.google.com/github/wendyleosaputra-oss/Tugas-dan-laporan-minggu-kedua/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tugas kedua minggu kedua data (dict)

In [ ]:
#Data_diri
Biodata_sendiri: dict[str,bool,int] = {
    "firstname":"Wendy",
    "lastname":"leo_saputra",
    "age":19,
    "isMarried":False
}

print("Nama depan:",Biodata_sendiri["firstname"])
print("Nama belakang:",Biodata_sendiri["lastname"])
print("umur:",Biodata_sendiri["age"])
print("Sudah menikah:",Biodata_sendiri["isMarried"])

Nama depan: Wendy
Nama belakang: leo_saputra
umur: 19
Sudah menikah: False

Tugas pertama minggu kedua

In [ ]:
#Data_diri
firstname: str = "Wendy"
lastname: str = "leo_saputra"
age: int = 19
isMarried: bool = False

print("Nama depan:",firstname)
print("Nama belakang:",lastname)
print("umur:",age)
print("Sudah menikah:",isMarried)

Nama depan: Wendy
Nama belakang: leo_saputra
umur: 19
Sudah menikah: False

Tugas ketiga variable ketiga data list minggu kedua

In [ ]:
inpeksi = [
    "pemahaman terhadap rencana dan desain",
    "ketersediaan bahan dan peralatan",
    "pengawasan pekerjaan",
    "kualitas kontruksi",
    "keselamatan kerja",
    "koordinasi dengan pemilik proyek"
]

print(inpeksi)

['pemahaman terhadap rencana dan desain', 'ketersediaan bahan dan peralatan', 'pengawasan pekerjaan', 'kualitas kontruksi', 'keselamatan kerja', 'koordinasi dengan pemilik proyek']

Tugas ke empat minggu ke kedua

In [ ]:
#waktu datang
startTime = {
    "HH": 9,
    "mm": 23,
    "ss": 57
}

#waktu pulang
endTime = {
    "HH": 15,
    "mm": 25,
    "ss": 43
}

print("Waktu Datang: ",startTime)
print("Waktu Pulang: ",endTime)

Waktu Datang:  {'HH': 9, 'mm': 23, 'ss': 57}
Waktu Pulang:  {'HH': 15, 'mm': 25, 'ss': 43}

In [ ]:
#PENGGABUNGAN DAN ANALISIS KATALOG PRODUK
katalog_A = {"nasi goreng","mie ayam","ayam penyet"}
katalog_B = {"mesin waktu","alat pembawa kebahagiaan","alat pengubah masa lalu"}

produk_diskon = ("nasi goreng","mie ayam","ayam penyet")

katalog_lengkap = katalog_A.union(katalog_B)

print("katalog lengkap: ",katalog_lengkap)

produk_promo_aktif = katalog_lengkap.intersection(set(produk_diskon))
print("produk promo aktif :",produk_promo_aktif)

katalog lengkap:  {'nasi goreng', 'mesin waktu', 'mie ayam', 'ayam penyet', 'alat pembawa kebahagiaan', 'alat pengubah masa lalu'}
produk promo aktif : {'nasi goreng', 'mie ayam', 'ayam penyet'}

In [6]:
age = 17
salary = 5000000.0
print(type(age))
print(type(salary))

x = 6
print(type(x))
x = "6"
print(type(x))

x = 6
print(type(x))
x = 6.0
print(type(x))
x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [25]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

X = True
print(type(X))
X = False
print(type(X))

x = "Polibatam"
print(type(x))

multiline = """haloo kiana!
kapan terakhir kali kita ketemu ya ?
kita bertemu sudah setahun lalu
aku merindukan mu."""
print(multiline)

x = "polibatam tercinta"
print(x[13])

x = "polibatam"
print(x[2:])

name = "wendy leo saputra"
print(f"hello, nama saya {name} ")

name = "Wendy Leo Saputra"
print("Nama saya %s" % (name))

name = "Wendy Leo Saputra"
print("Nama saya {}".format(name))
name = "Wendy Leo Saputra"
print("Nama saya : ",name)

10
11642376
11
11642408
<class 'bool'>
<class 'bool'>
<class 'str'>
haloo kiana!
kapan terakhir kali kita ketemu ya ?
kita bertemu sudah setahun lalu
aku merindukan mu.
c
libatam
hello, nama saya wendy leo saputra
Nama saya Wendy Leo Saputra
Nama saya Wendy Leo Saputra
Nama saya :  Wendy Leo Saputra

In [41]:
x = [1,2.2,"polibatam"]
print(type(x))

x = (1,2.2,"dicoding")
print(x)

x = [1,"polibatam",True,1.0]
print(x[2])

x = [1,2.2,"polibatam"]
x[0] = "indonesia"
print(x)

# deklarasi variabel list
numbers = [23,43,15,34]
#cara mengakses elemen dalam variable list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

#cara mengubah nilai elemen variable dalam list
numbers[2] = 15
print(numbers)

#deklarasi variable list numbers
numbers = [1,2,3]
#menambahkan elemen di indeks ke-4
numbers.insert(4,5)
#mengubah elemen di indeks ke-4
numbers[3]= 4
#Menghapus elemen indeks ke-2
numbers.pop(2)
print(numbers)

# deklarasi variable list
mylist = [1,"rumah",4.5,True,["kamar mandi","kamar tidur"]]
#cara mengakses elemen dalam variable list
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
#cara mengakses elemen sublist
print(mylist[4][0])
print(mylist[4][1])

<class 'list'>
(1, 2.2, 'dicoding')
True
['indonesia', 2.2, 'polibatam']
23
43
15
34
[23, 43, 15, 34]
[1, 2, 4]
1
rumah
4.5
True
['kamar mandi', 'kamar tidur']
kamar mandi
kamar tidur

In [46]:
x = ["laptop","monitor","mouse","mousepad","keyboard","webcam","microphone"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

#data tipe tuple
#elemen yang tidak bisa di ubah
propertyDetail = (1,"rumah",True)
x = (1,"polibatam",1+3j)
x = (5,'program',1+3j)
print(propertyDetail)
print(type(x))
print(x[1])
print(x[0:3])

x = (5,'program',1+3j)
x[1] = 'harapan'

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']
(1, 'rumah', True)
<class 'tuple'>
program
(5, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [50]:
#deklarasi variable tuple
numbers = (23,43,15,34)
#cara mengakses nya elemen dalam variable tuple
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

#data tipe set
x = {1,2,7,2,3,13,3}
print(x)
print(type(x))

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
union = set1.union(set2)
print("Union",union)
intersection = set1.intersection(set2)
print("Intersection",intersection)

#deklarasi variable set a dan set b
a = {1,2,3}
b = {2,3,4}
a.union(b)
a.intersection(b)
a.symmetric_difference(b)
print("union:",a.union(b))
print("intersection:",a.intersection(b))
print("symmetric_difference:",a.symmetric_difference(b))

23
43
15
34
{1, 2, 3, 7, 13}
<class 'set'>
Union {1, 2, 3, 4, 5, 6, 7, 8}
Intersection {4, 5}
union: {1, 2, 3, 4}
intersection: {2, 3}
symmetric_difference: {1, 4}

In [63]:
#data tipe dictionary
x = {'name': 'wendy leo saputra','age':19 ,'isMarried': False}
x['job'] = "Student"
x['name'] = "Khalid"

print(x)

#deklarasi variable dictionary
propertyDetail = {"numfloors":1,"propertyType" : "rumah","hasTerrace": True ,"hasGarage": False }

print(propertyDetail["numfloors"])
print(propertyDetail["propertyType"])
print(propertyDetail["hasTerrace"])
print(propertyDetail["hasGarage"])
propertyDetail["hasTerrace"] = False
print(propertyDetail)

{'name': 'Khalid', 'age': 19, 'isMarried': False, 'job': 'Student'}
1
rumah
True
False
{'numfloors': 1, 'propertyType': 'rumah', 'hasTerrace': False, 'hasGarage': False}